<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        internalLogLevel="Debug"
		internalLogFile="c:\temp\nlog-internal.txt"
		internalLogToConsole="true"
		throwConfigExceptions="true">

		<extensions>
			<add assembly="NLog.Web.AspNetCore"/>
		</extensions>

		<targets>
			<target xsi:type="File" name="allfile" fileName="${basedir}/logs/${shortdate}/nlog-all-${shortdate}.log" />
		</targets>

		<rules>
			<logger name="*" minlevel="Trace" writeTo="allfile" />
		</rules>
	</nlog>
	
</configuration>